# --- SERVER CONFIGURATION ---
PORT=your_port               # Application port
HOST=localhost          # Host address
APP_PREFIX=/api         # API route prefix
APP_NAME=kid_english_back_end   # Application name (used for logging and JWT secret)
NODE_ENV=development    # Deployment environment (e.g., development, production, test)

# Base URL for the API
APP_URL=http://${HOST}:${PORT}${APP_PREFIX}

# Frontend URL (required to configure CORS)
FE_URL=

# --- RATE LIMITER (THROTTLE) ---
# TTL: Time to live (in ms), LIMIT: Maximum number of requests allowed within the TTL
THROTTLE_TTL=600000
THROTTLE_LIMIT=100

# --- AUTHENTICATION ---
JWT_SECRET=JWT_SECRET_${APP_NAME} # Secret key used to sign JWT tokens
JWT_RESET_SECRET=your_reset_secret_key

# --- UPLOAD & STORAGE ---
MULTER_DESTINATION_FILE=./uploads # Local directory for file storage

# --- S3 (Cloud Storage) ---


# --- CACHE ---
CACHE_INTERNAL_TTL=30000 # Time-to-live for cache entries (in ms)

# Configuration for Docker Postgres
DB_USER=user_kid_english_back_end
DB_PASSWORD=password_kid_english_back_end
DB_NAME=db_kid_english_back_end
DB_PORT=your_db_port
DB_HOST=localhost

# Database connection URL (used by Prisma and TypeORM)
POSTGRES_URI=postgresql://postgres.xxxx:password@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
EMAIL_ADMIN=admin@kidenglish.com
PASSWORD_ADMIN=Admin@123

# Redis connection URL (used by CacheModule)
REDIS_URL=your_redis_url

# Supabase Storage (for file uploads)
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_KEY=your-service-role-key